@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cdh-red: #8B0000;
  --color-cdh-dark: #5C0000;
  --color-cdh-light: #AB3333;
  --color-cdh-bg: #FAFAFA;
}

@layer base {

  html,
  body,
  #root {
    @apply h-full min-h-screen;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans transition-colors duration-200;
  }

  :root.dark body {
    @apply bg-gray-900 text-white;
  }
}

/* Hide native password reveal on Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}